.entete{
  background-color: #fcce00;
  width: 1440px;
}

.entete__titre{
  color: white;
  font-family: Poppins;
  text-align: center;
  font-size: 88px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1440px;

}

.entete2{
  color: white;
  text-align: center;
  background-color: #ff6b00;
  font-family: Poppins;
  font-size: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 64px;
  width: 1440px;
}

.couleurrouge{
  background-color: #e02020;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 32px;
  width: 1440px;
}

.couleurrouge{
  background-color: #e02020;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 32px;
  width: 1440px;
}

.couleurviolette{
  background-color: #b620e0;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 16px;
  width: 1440px;
}

.couleurbleue{
  background-color: #6236ff;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 8px;
  width: 1440px;
}

.catchphrase{
  width: 993px;
  height: 56px;
  font-family: Poppins;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  margin-left: 231px;
  color: #231f20;
  margin-top: 64px;
  margin-bottom: 64px;
}

.firstblock{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.blocktitle1{
  font-family: Poppins;
  font-weight: bold;
  font-size: 24px;
  color: #231f20;
  width: 640px;
  height: 33px;
  text-align: center;
}

.textblock1{
  font-family: Poppins;
  text-align:justify;
  font-size: 16px;
  width: 640px;
  margin-top: 34px;
  margin-left: 48px;
  margin-right: 31px;
}

.learnmore{
  margin-top: 30px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  color: #fcce00;
  text-align: center;
  border-style: solid;
  border-width:4px;
  border-radius: 15px;
  border-color:#fcce00;
  width: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 510px;
}

.block2{
width: 720px;
height: 512px;
background-color: #fcce00;
background: linear-gradient(to bottom, #FCD72F 50%, #FDE062 50%, #FDE062 75%, #FDEA95 75%, #FDEA95 88%, #FEF5CB 88%)
}

.imagecomputer{
width: 487px;
height: 471px;
mix-blend-mode:darken;
margin-left: 200px;
margin-top: 40px;
}

.secondblock{
display: flex; justify-content: space-around; align-items: flex-end; margin-top: 64px;
}

.block3{
width: 720px;
height: 512px;
text-align: center;
background-color: #ff6b00;
background: linear-gradient(to bottom, #FF8630 50%, #FFA463 50%, #FFA463 75%, #FFC296 75%, #FFC296 88%, #FFE1CC 88% )
}

.imagecomputer2{
mix-blend-mode: darken;
margin-top: 26px;
}

.block4{
width: 654px;
height: 512px ;
margin-left: 33px;
margin-right: 48px;
}

.blocktitle4{
text-align: center;
font-size: 24px;
width: 640px;
font-family: poppins;
font-weight: bold;
margin-top: 0px;
color: #231f20;
}

.textblock4{
text-align: justify;
font-size: 16px;
width: 640px;
font-family: poppins;
margin-top: 34px;
color: #231f20;
}

.learnmore2{
font-family: Poppins;
font-size: 20px;
font-weight: bold;
color:#ff6b00 ;
text-align: center;
border-style: solid;
border-width:4px;
border-radius: 15px;
border-color:#ff6b00;
width: 185px;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 490px;
margin-top: 42px ;
}
