.entete{
  background-color: #fcce00;
  width: 1440px;
}

.entete__titre{
  color: white;
  font-family: Poppins;
  text-align: center;
  font-size: 88px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1440px;

}

.entete2{
  color: white;
  text-align: center;
  background-color: #ff6b00;
  font-family: Poppins;
  font-size: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 64px;
  width: 1440px;
}
